html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #1F2937;
    padding: 2em 8em;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 18px;
}

.links > a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 4em 8em 8em 8em;
    gap: 2em;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8em;
}

#hero-heading {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    line-height: 1.15;
}

.hero-paragraph {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.5;
    padding-bottom: 0.35em;
}

.btn-hero-link {
    text-decoration: none;
    color: white;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 24px;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.info-heading {
    text-align: center;
    padding: 3em 0;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0em 8em 5em 8em;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.block {
    width: 100px;
    height: 100px;
    border: #3882F6 solid;
}

.text {
    text-align: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 3em 3em;
}

.test {
    max-width: 70%;

}

.div.testi {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 1em;
}

.div.thor {
    text-align: end;
    font-size: 26px;
    font-weight: bold;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 8em;
}

.cta-block {
    flex: 0 1 80%;
    background-color: #3882F6;
    padding: 2em 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.btn-cta-link {
    text-decoration: none;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 24px;
    border: 3px #F9FAF8 solid;
    color: #F9FAF8;

}

.footer {
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 3em 8em;
    text-align: center;
}